black           # PEP8 formatter
# black[jupyter]  # PEP8 formatter for Jupyter NB
click           # CLI great interface
# datasets        # Hugging Face (datasets)
# dill            # Pickle substitute for big data sets
fastapi         # API
# gradio          # ML GUI
# ipython         # great Python interpreter
mlflow          # ML tracker and more
# nicegui         # cool Python GUI
# notebook        # all Jupyter notebook needs
# pandasgui       # DS reports
# pipreqs         # simple requirements
# pipreqsnb       # simple requirements for notebooks
# plotly          # interactive plots (with JS)
# polars          # great pandas alternative
pylint          # great linter
pytest          # unit tests
pytest-cov      # unit tests, cover a specific function
# python-dotenv   # .env file support
pyyaml          # YAML support
scikit-learn    # ML must-have
# seaborn         # plots
# session_info    # notebooks requirements
# setuptools      # package install & distribution
# streamlit       # cool Python GUI
# torch           # DL (pytorch)
# transformers    # Hugging Face (models, etc.)
# unidecode       # unicode formatter
# uvicorn         # ASGI web server
