black               # PEP8 formatter
black[jupyter]      # PEP8 formatter for Jupyter NB
dill                # Pickle alternative for data science
emoji               # Emoji support
flask               # API needs
gensim              # topic modelling
gunicorn            # API needs
pylint              # great linter
pytest              # unit tests
pytest-cov          # unit tests, cover a specific function
pyyaml              # YAML support
scikit-learn        # ML must-have library
nltk                # Natural Language Toolkit
scipy == 1.10.1     # to avoid deprecated functions
streamlit           # api utilities